p {
  padding: 0;
  margin: 0;
}

hr {
  display: block;
  border: 0;
  height: 1px;
  background: #ced0d4;
}

body {
  background: #f0f2f5 !important;
}

body.nightMode {
  background: #0c0b2f !important;
}

#deck-content {
  overflow: hidden;
  padding: 0 5%;
}

#deck-content * {
  overflow: hidden;
}

#deck-content card {
  display: block;
  background: white;
  margin: 1.2em auto;

  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.nightMode #deck-content card {
  background-color: #1f1e40;
  color: white;
}

#deck-content card.card-hidden {
  opacity: .4;
}

#deck-content card.card-show-from-hidden {
  animation: show-from-hidden .2s;
}

#deck-content card-title {
  display: block;
  background: #335998;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em 0.75em;
  font-size: 1em;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.nightMode #deck-content card-title {
  background-color: #2d3a61;
}

#deck-content card-content {
  display: block;
  margin: 14px 0;
  padding: 0 14px;
}

#deck-content .card-hidden card-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@-webkit-keyframes show-from-hidden {
  from { opacity: .4; }
  to { opacity: 1 }
}

@-moz-keyframes show-from-hidden {
  from { opacity: .4; }
  to { opacity: 1 }
}

@keyframes show-from-hidden {
  from { opacity: .4; }
  to { opacity: 1 }
}